@media (max-width: 992px) {
  body {
    background-image: url(../background/bg992.jpg);
  }

  .App .app-container header {
    font-size: 50px;
    line-height: 60px;
    text-shadow: 15px 5px 8px rgba(179, 154, 111, 0.8);
  }
  .Dictionary .engine p {
    font-size: 25px;
  }
  .Dictionary .engine .hint {
    margin-top: -8px;
    line-height: 15px;
  }
  .Dictionary section {
    margin: 50px 50px;

    min-width: 100%;
  }
}
@media (max-width: 776px) {
  body {
    background-image: url(../background/bg776.jpg);
  }
  .App .Dictionary section {
    padding: 40px 40px 20px;
  }
}
@media (max-width: 715px) {
  .Dictionary .engine p {
    font-size: 20px;
    line-height: 25px;
  }
  body .App {
    margin: 25px;
    padding: 25px;
  }
}
@media (max-width: 576px) {
  body {
    background-image: url(../background/bg576.jpg);
  }
  body .App {
    padding: 20px;
    margin: 0px;

    border-radius: 0;
  }

  .App .app-container header {
    font-size: 45px;
    line-height: 40px;
  }

  .Dictionary .engine .form .input {
    width: 70%;
    padding: 0px 25px;
  }

  .Dictionary .engine .form button {
    margin-top: 13px;
    padding: 8px 25px;
  }
  .Dictionary .Results h2 {
    margin: 15px auto;
  }
  .Phonetic h2 {
    font-size: 20px;
  }
  .Phonetic a .listen {
    font-size: 35px;
  }
  .Results .Meaning .definition strong {
    font-size: 20px;
    line-height: 15px;
  }
  .Results .Meaning .definition small {
    font-size: 20px;

    line-height: 10px;
  }
  .Meaning .Synonyms span,
  .Meaning .Synonyms ul {
    font-size: 15px;
    line-height: 10px;
  }
}
@media (max-width: 400px) {
  .Results .Meaning .definition strong {
    font-size: 17px;
    line-height: 10px;
  }
}
