.Results .word {
  text-align: center;
}
.Results h2 {
  margin: 30px auto;
  line-height: 35px;
}
.Results h2 strong {
  margin: 30px auto;

  font-size: 30px;

  text-transform: capitalize;
}
.Results .word div {
  padding-bottom: 5px;
}
