.Synonyms {
  margin-bottom: 15px;
}
.Synonyms ul li {
  list-style: none;

  display: inline;
  padding: 0 10px;
}
.Synonyms ul {
  margin: 0 auto;
  padding: 0;

  font-size: 20px;

  display: inline;
}
.Synonyms span {
  font-size: 20px;
}
